*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Playfair Display', serif;
  margin: 0;
  background: linear-gradient(to right, #99b2dd, #e9afa3);
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.clock {
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
  text-align: center;
  color: #3a405a;
  flex: 1;
  margin-top: 1rem;
  font-size: 3rem;
}

.break,
.session {
  margin: 20px;
  text-align: center;
}

#break-label,
#session-label {
  padding: 5px;
  font-size: 1.5rem;
}

button {
  font-size: 1rem;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.break > button,
.session > button {
  padding: 0 10px;
}

#break-length,
#session-length {
  font-weight: 600;
  font-size: 1.5rem;
}

.display {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 4px solid #3a405a;
  border-radius: 25px;
  padding: 1rem 2rem;
  margin-bottom: 10px;
  background-color: #e9afa3;
}

.display #timer-label {
  font-size: 1.5rem;
}

.display #time-left {
  font-size: 3rem;
  font-weight: 600;
}

.controller > button {
  padding: 5px;
  font-size: 1.2rem;
}

#start_stop {
  border: 2px solid black;
  border-radius: 25px;
  background-color: #99b2dd;
  color: black;
}
